.App {
  text-align: center;
}


.Monitor {
  position: relative;
  width: 100%;
  height: 100%;
}

.Monitor iframe {
  width: 100%;
  height: 100%;
}

.Monitor .label {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 40px;
  text-transform: uppercase;
  color: white;
  font-weight: bold;

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.HelloModal {
}
